p {
        font-family: Geneva;
        font-size: 1.5em;
        line-height: 1.5em;
        margin-bottom: 3empx;
        font-weight: normal;
        color: #656565;
}
body {
        background: #7ec0ee;
        font-size: 62.5%; line-height: 1;
        font-family: Arial, sans-serif;
        padding-bottom: 69px;
}
 
h1 {
        font-family: Geneva;
        font-size: 3.8em;
        color: #fff;
}
#board {
        display: block;
        width: 700px;
        margin: 0 auto;
        padding-top: 35px;
}
 
#container {
  display: block;
  width: 100%;
  background: #fff;
  padding: 14px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#comments {
        display: block;
}
#comments .cmmnt .replies {
        margin-bottom: 3em;
}
#comments .cmmnt, ul .cmmnt, ul ul .cmmnt {
        display: block;
        position: relative;
        border-top: 1px solid #000;
}
#comments .cmmnt .cmmnt-content {
        padding: 0px 3px;
        padding-bottom: 12px;
        padding-top: 8px;
}
#comments .cmmnt .cmmnt-content header {
        font-size: 1.3em;
        display: block;
        margin-bottom: 8px;
}